body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.marker {
  background-image: url('../images/drone.svg');
  background-size: cover;
  width: 25px;
  height: 25px;
}
