doctype html
html
  head
    title= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js")
    script(src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js")
    link(href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
        body { margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; width: 100%; }
  body
    block content
